.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.purple {
	color: purple;
}

.green {
	color: green;
}

.azure {
	color: azure;
}

.grey {
	color: grey;
}
