.one {
	color: #0060ba;
}

.two {
	color: #6dff6d;
}

.three {
	color: #ff6f6f;
}

.four {
	color: #7db3ff;
}

.five {
	color: #ffaa4d;
}

.six {
	color: #4dffd4;
}

.seven {
	color: #ffd54d;
}

.eight {
	color: #ffffff;
}
