@keyframes fadeIn {
	to {
		background: rgba(0, 0, 0, 0.8);
	}
}
@keyframes scaleUp {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

#modal-container {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 99999;
}

#modal-container.variant {
	transform: scale(1);
}

#modal-container.variant .modal-background {
	background: rgba(0, 0, 0, 0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.variant .modal-background .modal {
	opacity: 0;
	animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.variant + .content {
	animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.variant.out {
	animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.variant.out .modal-background {
	animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.variant.out .modal-background .modal {
	animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.variant.out + .content {
	animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
}

#modal-container .modal-background .modal {
	background: #ddd;
	padding: 50px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
}

#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
	font-size: 18px;
	line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 778;
	stroke-dashoffset: 778;
}

#modal-container .parameters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

#modal-container .parameters .container p {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

#modal-container .parameters .container button {
	padding: 10px 30px;
	font-size: 25px;
	font-weight: 900;
	border: none;
	background: #ccc;
	border-radius: 10px;
	transition: all 0.3s;
}

#modal-container .parameters .container button:hover {
	scale: 1.05;
	cursor: pointer;
}

#modal-container button#restart {
	padding: 10px 30px;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 700;
	border: none;
	background: #ccc;
	border-radius: 10px;
	transition: all 0.3s;
}

#modal-container button#restart:hover {
	scale: 1.05;
	cursor: pointer;
}

#modal-container #cross {
	width: 20px;
	position: fixed;
	top: 10px;
	right: 10px;
	fill: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

#modal-container .size {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#modal-container .buttons-wrapper {
	display: flex;
	gap: 15px;
}

#modal-container .buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#modal-container .container {
	user-select: none;
}

#modal-container .disabled {
	background: #aaa !important;
	scale: 0.8;
	pointer-events: none;
}
