@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
	max-height: 100vh;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #1c1c1c;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.matrix-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
	/* margin: auto; */
	/* padding-top: 100px; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
td {
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
	font-size: 30px;
	color: white;
	border-color: white;
	cursor: pointer;
}

button#btn {
	border: none;
	padding: 30px 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #cccccc;
	cursor: pointer;
	transition: 0.3s all;
}

.show {
	color: white;
	background-color: #9a9a9a;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.purple {
	color: purple;
}

.green {
	color: green;
}

.azure {
	color: azure;
}

.grey {
	color: grey;
}

.game-over {
	pointer-events: none;
}

#game-over {
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	text-align: center;
	display: none;
}

#game-over > button {
	border: none;
	padding: 30px 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #cccccc;
	cursor: pointer;
	transition: 0.3s all;
}

#game-over > button:hover {
	background-color: #9a9a9a;
	scale: 1.05;
}

#game-over.lost {
	display: block;
}

.gameStatus {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 200px;
}

#mineCounter,
#timeCounter {
	color: white;
	font-size: 30px;
	text-align: center;
}

#nonMineCounter {
	display: none;
}

.won {
	pointer-events: none;
}

#won {
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	text-align: center;
	display: none;
}

#won > button {
	border: none;
	padding: 30px 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #cccccc;
	cursor: pointer;
	transition: 0.3s all;
}

#won > button:hover {
	background-color: #9a9a9a;
	scale: 1.05;
}

#won.victory {
	display: block;
}

/* MODAL */

@keyframes fadeIn {
	to {
		background: rgba(0, 0, 0, 0.8);
	}
}
@keyframes scaleUp {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

#modal-container {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 99999;
}

#modal-container.two {
	transform: scale(1);
}

#modal-container.two .modal-background {
	background: rgba(0, 0, 0, 0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two .modal-background .modal {
	opacity: 0;
	animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two + .content {
	animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out {
	animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.two.out .modal-background {
	animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out .modal-background .modal {
	animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out + .content {
	animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
}

#modal-container .modal-background .modal {
	background: #ddd;
	padding: 50px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
}

#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
	font-size: 18px;
	line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 778;
	stroke-dashoffset: 778;
}

#modal-container .parameters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

#modal-container .parameters .container p {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

#modal-container .parameters .container button {
	padding: 10px 30px;
	font-size: 25px;
	font-weight: 900;
	border: none;
	background: #ccc;
	border-radius: 10px;
	transition: all 0.3s;
}

#modal-container .parameters .container button:hover {
	scale: 1.05;
	cursor: pointer;
}

#modal-container button#restart {
	padding: 10px 30px;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 700;
	border: none;
	background: #ccc;
	border-radius: 10px;
	transition: all 0.3s;
}

#modal-container button#restart:hover {
	scale: 1.05;
	cursor: pointer;
}
